<div class="layout-topbar">
    <a class="menu-button">
        <i class="pi pi-bars"></i>
    </a>
    <NavLink class="logo" href="" Match="NavLinkMatch.All">
        <img alt="logo" src="/images/primeblazor-logo.svg">
    </NavLink>
    <div class="app-theme" v-tooltip.bottom="theme">
        <img src="/images/themes/saga-blue.png" />
    </div>
    <ul class="topbar-menu">
        <li><NavLink href="/setup">Get Started</NavLink></li>
        <li><NavLink href="/theming">Themes</NavLink></li>
        <li><NavLink href="/resources">Resources</NavLink></li>
    </ul>
</div>